
.add-product{
    background-color: rgb(126, 105, 116);
    height:400px;
    border-radius: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add-product form{
    display: flex;
    flex-direction: column;
    width: 40%;
   margin: auto;
   margin-top: 50px;
}

.add-product form input, textarea{
    margin-bottom: 10px;
   
}